PORT=3000
IPBIND="0.0.0.0"

REDIS_HOST=redis-13697.c295.ap-southeast-1-1.ec2.cloud.redislabs.com
REDIS_PORT=13697
REDIS_USER=demo
REDIS_PASS=demo123#!

JWT_SECRET=s0a5b17VQESfPMyLrGe6Og3d
BCRYPT_SALT=10
