PORT=4000
IPBIND="0.0.0.0"

REDIS_HOST=redis-18197.c295.ap-southeast-1-1.ec2.cloud.redislabs.com
REDIS_PORT=18197
REDIS_USER=gazmin
REDIS_PASS=Gazmin123@

JWT_SECRET=s0a5b17VQESfPMyLrGe6Og3d

MARKETPLACE_URL=https://gazmin-marketplace.facsiaginsa.com